
:root{
    /* color */
    --color1: green;
    --color2: yellow;
    --color3: blue;
    /* height */
    --height_entete:200px;
    --height_corps:600px;
    --height_pied:100px;
    /* width */
    --width1: 15%;
    --width2: 68.5%;
    --width3: 100%;
    /* margin */
    --marge_top: 10px;
    --margin_left: 5px;
    --margin_right: 6px;
    /* padding */
    --padding_top: 25px;
    --padding_left: 10px;
    --padding_right: 10px;
    /* border */
    --border_radius :5%;
    
}

div.principale{
    /* background-color: aqua; */
    border: 1px solid black;
    height:29.7cm;
    width: 21cm;
    /* border-radius: var(--border_radius); */
    text-align: center;
    padding-top: var(--padding_top);
}

div.entete{
    display: inline-block;
    height: var(--height_entete);
    width: var(--width3);
    
}

div.entete_gauche{
    background-color: var(--color1);
    height: var(--height_entete);
    width: var(--width1);
    float: left;
    border-radius: var(--border_radius);
    margin-left: var(--margin_left);
 /* padding-top: 25px;
 margin-top: 10px; */
}
div.entete_centrale{
  background-color: var(--color2);
  height: var(--height_entete);  
  width: var(--width2); 
  float: left;
  border-radius: var(--border_radius);
  /* padding-top: 25px; */
  /* margin-top: 10px; */
}
div.entete_droite {
 background-color: var(--color3);
 height: var(--height_entete);
 width: var(--width1);
 float: right;
 border-radius: var(--border_radius);
 margin-right: var(--margin_right);
 /* padding-top: 25px;
 margin-top: 10px; */
}

div.corps{
    background-color: var(--color1);
    height: var(--height_corps);
    padding-top: var(--padding_top);
    margin-top: var(--marge_top);
    border-radius: var(--border_radius);
}
div.pied{
    background-color: var(--color2);
    height: var(--height_pied);
    margin-top: var(--marge_top);
    padding-top: var(--padding_top);
    border-radius: var(--border_radius);
}