body {
  background: white;
}
page[size="A4"] {
  background: white;
  width: 21cm;
  height: 29.7cm;
  display: block;
  margin: 0 auto;
  /* page-break-before: always;  */
  page-break-after: always;
  margin-bottom: 0.5cm;
  /* box-shadow: 0 0 0.5cm rgba(50,20,20,0.5); */
}
@media print {
  body, page[size="A4"] {
    margin: 0;
    box-shadow: 1;
  }
}

.page_div {
    
  width: 21cm; 
  height: 29.7cm;
  padding: 0;
  /* page-break-before: always; 
  page-break-after: always; */
  margin: 0. auto; 
  /* border: 2px black solid;  */
   /* border-radius: 5px; */
   background: white;
   /* box-shadow: 0 0 2px rgba(240, 23, 23, 0.1); */
 }
 
.subpage {
  /* padding: 0.5cm; */
  height: 28.7cm;
  border: 2px white solid;
  /* height: 282mm; */
  /* outline: 0.5cm #FFEAEA solid; */
}
.num{
  text-align: center;
  background-position: center bottom;
}
.sommaire{
  color: black;
}

/* .fond1{
  background-image: url("/Zabbix/rapport_pictures/logo_iprec.png");
  background-size: 200px 80px;
  background-position: right bottom ;
  background-repeat: no-repeat;
  padding: 15px;
  } 
#fond2{
  background-image: url("./Zabbix/rapport_pictures/afapark.PNG");
  background-size: 200 80px;
  background-position: left bottom ;
  background-repeat: no-repeat;
  padding: 15px;
  }  */
.fond{

    background-image: url("/Zabbix/rapport_pictures/logo_iprec.png"), url("./Zabbix/rapport_pictures/afapark.PNG");
    background-position: right bottom, left bottom;
    background-size: 200px 80px;
    background-repeat: no-repeat;
    padding: 15px;
  }
  
  .img_centree{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }
  
  p{
    text-align: justify;
  }
  
  .pad {
    margin-left: 20% ;
    margin-right: 20% ;
    height: 5px;
    background-color: black;
    border: 1px black solid;
    
  }
  a {
    text-decoration: none;
  }
  a:hover{
    color: rgb(64, 226, 43);
    background-color: black;
  }
  
  
  li{
    line-height:15px;
   
  }