*{
    margin-left:2%;
}
pre {
    color: aqua;
    margin-left:2%;
}
ol{
    
    margin-left: 4%;
}

.date{
    color: blue;
    text-transform: capitalize;
    text-decoration: chartreuse;
    text-shadow: darkgoldenrod;
}



table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  tr>td::first-letter{
      text-transform:capitalize;

  }
  tr>th{
      color: black;
      background-color: aqua;
  }

  table, th, td {
    border: 1px solid black;
  }
.alignement{
    text-align: left;
}
.alignement2{
    text-align: center;
}

.cap{
    text-transform: uppercase;
}

ol>li::first-letter,ul>li::first-letter{
    text-transform:capitalize;

}

.check{
    text-align: left;
}

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.item1 {
    grid-column: 1 / 5;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:  500px;
    height: 500px;
  }

  /* .float{
      float: left;
  } */