*{
    margin-left:2%;
}
pre {
    color: aqua;
    margin-left:2%;
}
ol{
    
    margin-left: 4%;
}

.date{
    color: blue;
    text-transform: capitalize;
    text-decoration: chartreuse;
    text-shadow: darkgoldenrod;
}



table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  tr>td::first-letter{
      text-transform:capitalize;

  }
  tr>th{
      color: black;
      background-color: aqua;
  }

  table, th, td {
    border: 1px solid black;
  }
.alignement{
    text-align: left;
}

.cap{
    text-transform: uppercase;
}

ol>li::first-letter,ul>li::first-letter{
    text-transform:capitalize;

}

.check{
    text-align: left;
}